<div class="container">

  <div class="center-text">
    <h3>Select a photo from your recent Instagram posts</h3>
  </div>

  <div class="col-md-8 col-md-offset-2 instagrid">
    <% @data.each do |image_hash| %>
      <div class="insta-thumbnail-container">
        <img class="insta-thumbnail" src="<%= image_hash["images"]["thumbnail"]["url"] %>" id="<%= image_hash["images"]["standard_resolution"]["url"] %>">
        <div class="insta-thumbnail-overlay" data-toggle="modal" data-target="#photo-upload-modal">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
      </div>
    <% end %>
  </div>

  <div id="photo-upload-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <%= form_for @cat do |f| %>
            <div class="form-group">
              <%= f.label "Kitty's Name" %>
              <%= f.text_field :name, placeholder: "e.g. Fuzzball", class: "form-control" %> 
            </div>
            <div class="checkbox">
              <label>
                  <input type="checkbox"/> By checking this box, I agree to the terms of upload and <a href="<%= privacy_path %>">privacy policy</a> of ELO Kitty
              </label>
            </div>
            <%= f.submit "Upload Kitty", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>