<div class="rankings-container col-md-8 col-md-offset-2">
  <% @cats.each_with_index do |cat, index| %>
    <div class="cat-ranking-container">
      <div class="nailthumb-container square-250 inline-block">
        <img class="image-fit" src="<%= cat.url %>">
      </div>
      <div class="cat-ranking-info-container">
        <p><span class="bold">Rank:</span> <%= index + 1 %></p>
        <p><span class="bold">Name:</span> <%= cat.name %></p>
        <p><span class="bold">Score:</span> <%= cat.elo_score %></p>
        <p><span class="bold">IG:</span> <a href="http://www.instagram.com/<%= cat.owner.username %>"><%= cat.owner.username %></a></p>
      </div>
    </div>
  <% end %>
</div>