<!DOCTYPE html>
<html>
<head>
  <title>Kitties</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Vote!", root_path %>
<%= link_to "Rankings", cats_rankings_path %>

<% if current_user %>
  <%= link_to current_user.username, recent_photos_path(current_user) %>
<% else %>
  <%= link_to "Instagram Login", "/auth/instagram" %>
<% end %>

<%= yield %>

</body>
</html>
